/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_reset\.scss}line{font-family:\000034}}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_reset\.scss}line{font-family:\00003100}}
html,
body {
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_reset\.scss}line{font-family:\00003105}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  /*
    Override the default (display: inline) for
    browsers that do not recognize HTML5 tags.
  
    IE8 (and lower) requires a shiv:
    http://ejohn.org/blog/html5-shiv
  */
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_reset\.scss}line{font-family:\00003127}}
b,
strong {
  /*
    Makes browsers agree.
    IE + Opera = font-weight: bold.
    Gecko + WebKit = font-weight: bolder.
  */
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_reset\.scss}line{font-family:\00003137}}
img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  /*
    For IE.
    http://css-tricks.com/ie-fix-bicubic-scaling-for-images
  */
  -ms-interpolation-mode: bicubic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_reset\.scss}line{font-family:\00003148}}
ol,
ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_reset\.scss}line{font-family:\00003153}}
li {
  /*
    For IE6 + IE7:
  
    "display: list-item" keeps bullets from
    disappearing if hasLayout is triggered.
  */
  display: list-item;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_reset\.scss}line{font-family:\00003163}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_reset\.scss}line{font-family:\00003168}}
th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_reset\.scss}line{font-family:\00003176}}
q {
  quotes: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_reset\.scss}line{font-family:\00003180}}
q:before,
q:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_reset\.scss}line{font-family:\00003186}}
sub,
sup,
small {
  font-size: 75%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_reset\.scss}line{font-family:\00003192}}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_reset\.scss}line{font-family:\00003199}}
sub {
  bottom: -0.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_reset\.scss}line{font-family:\00003203}}
sup {
  top: -0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_reset\.scss}line{font-family:\00003207}}
svg {
  /*
    For IE9. Without, occasionally draws shapes
    outside the boundaries of <svg> rectangle.
  */
  overflow: hidden;
}

/*
  960 Grid System ~ Text CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/
/* `Basic HTML
----------------------------------------------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_text\.scss}line{font-family:\0000311}}
pre,
code {
  font-family: "DejaVu Sans Mono", Menlo, Consolas, monospace;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_text\.scss}line{font-family:\0000316}}
hr {
  border: 0 solid #ccc;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_text\.scss}line{font-family:\0000326}}
h1 {
  font-size: 25px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_text\.scss}line{font-family:\0000330}}
h2 {
  font-size: 23px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_text\.scss}line{font-family:\0000334}}
h3 {
  font-size: 21px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_text\.scss}line{font-family:\0000338}}
h4 {
  font-size: 19px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_text\.scss}line{font-family:\0000342}}
h5 {
  font-size: 17px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_text\.scss}line{font-family:\0000346}}
h6 {
  font-size: 15px;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_text\.scss}line{font-family:\0000353}}
ol {
  list-style: decimal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_text\.scss}line{font-family:\0000357}}
ul {
  list-style: disc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_text\.scss}line{font-family:\0000361}}
li {
  margin-left: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_text\.scss}line{font-family:\0000365}}
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 20px;
}

/* Grid Settings
---------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_960\.scss}line{font-family:\0000320}}
body {
  min-width: 960px;
}

/* `Containers
----------------------------------------------------------------------------------------------------*/
/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
/* `Grid >> Columns
----------------------------------------------------------------------------------------------------*/
/* `Prefix Extra Space
----------------------------------------------------------------------------------------------------*/
/* `Suffix Extra Space
----------------------------------------------------------------------------------------------------*/
/* `Push Space
----------------------------------------------------------------------------------------------------*/
/* `Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_grid\.scss}line{font-family:\000031}}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  overflow: hidden;
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_grid\.scss}line{font-family:\000037}}
.push-1 {
  position: relative;
  left: 80px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_grid\.scss}line{font-family:\0000310}}
.col-1 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_grid\.scss}line{font-family:\000037}}
.push-2 {
  position: relative;
  left: 160px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_grid\.scss}line{font-family:\0000310}}
.col-2 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 140px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_grid\.scss}line{font-family:\000037}}
.push-3 {
  position: relative;
  left: 240px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_grid\.scss}line{font-family:\0000310}}
.col-3 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_grid\.scss}line{font-family:\000037}}
.push-4 {
  position: relative;
  left: 320px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_grid\.scss}line{font-family:\0000310}}
.col-4 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_grid\.scss}line{font-family:\000037}}
.push-5 {
  position: relative;
  left: 400px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_grid\.scss}line{font-family:\0000310}}
.col-5 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 380px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_grid\.scss}line{font-family:\000037}}
.push-6 {
  position: relative;
  left: 480px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_grid\.scss}line{font-family:\0000310}}
.col-6 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_grid\.scss}line{font-family:\000037}}
.push-7 {
  position: relative;
  left: 560px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_grid\.scss}line{font-family:\0000310}}
.col-7 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 540px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_grid\.scss}line{font-family:\000037}}
.push-8 {
  position: relative;
  left: 640px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_grid\.scss}line{font-family:\0000310}}
.col-8 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 620px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_grid\.scss}line{font-family:\000037}}
.push-9 {
  position: relative;
  left: 720px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_grid\.scss}line{font-family:\0000310}}
.col-9 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 700px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_grid\.scss}line{font-family:\000037}}
.push-10 {
  position: relative;
  left: 800px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_grid\.scss}line{font-family:\0000310}}
.col-10 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 780px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_grid\.scss}line{font-family:\000037}}
.push-11 {
  position: relative;
  left: 880px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_grid\.scss}line{font-family:\0000310}}
.col-11 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 860px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_grid\.scss}line{font-family:\000037}}
.push-12 {
  position: relative;
  left: 960px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_grid\.scss}line{font-family:\0000310}}
.col-12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_else\.scss}line{font-family:\000032}}
.section {
  padding: 90px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_else\.scss}line{font-family:\000036}}
.zigzag {
  background: url("../i/zigzag-bg.png") 0 50% repeat-x;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_else\.scss}line{font-family:\0000310}}
.wellform, .section--hero .hero--form {
  width: 350px;
  height: 450px;
  padding: 5px 6px 7px 6px;
  border-radius: 20px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #feca16), color-stop(100%, #cc7800));
  background-image: -webkit-linear-gradient(top, #feca16 0%, #cc7800 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#feca16), to(#cc7800));
  background-image: linear-gradient(top, #feca16 0%, #cc7800 100%);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 5px 0 rgba(156, 96, 11, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 5px 0 rgba(156, 96, 11, 0.9);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_else\.scss}line{font-family:\0000317}}
.wellform > div, .section--hero .hero--form > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 3px solid #f7941d;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_else\.scss}line{font-family:\0000328}}
.amazingbox {
  position: relative;
  display: inline-block;
  left: 40px;
  height: 35px;
  background-color: #78B240;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  line-height: 31px;
  padding: 0 20px;
  text-align: center;
  border-radius: 4px;
  border: 2px solid #94CB51;
  background-image: -webkit-gradient(radial, center 0, 0, center 0, 100, color-stop(0%, rgba(172, 228, 110, 0.5)), color-stop(100%, #78b240));
  background-image: -webkit-radial-gradient(center 0, 100px 100px, rgba(172, 228, 110, 0.5) 0%, #78b240 100%);
  background-image: radial-gradient(center 0, 100px 100px, rgba(172, 228, 110, 0.5) 0%, #78b240 100%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_else\.scss}line{font-family:\0000344}}
.amazingcircle {
  position: absolute;
  left: 0;
  top: -7px;
  border-radius: 9999px;
  width: 50px;
  height: 50px;
  background-color: #F6C934;
  border: 3px solid #F4C416;
  background-image: -webkit-gradient(radial, center 10px, 0, center 10px, 100, color-stop(0%, #ffef6f), color-stop(100%, #f6c935));
  background-image: -webkit-radial-gradient(center 10px, ellipse cover, #ffef6f 0%, #f6c935 100%);
  background-image: radial-gradient(center 10px, ellipse cover, #ffef6f 0%, #f6c935 100%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_else\.scss}line{font-family:\0000353}}
.amazingcircle:after {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  opacity: .9;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAbCAYAAAAZMl2nAAABpElEQVRIx82XwVLCMBCGOekLKNASCgq+iycsqQgoozOx1AOHvv9p3SUtTZrIUGY7NTP/kGSm+3/ZTdLS6xUt284h2z5Br+uWbWaQbeb/AGT9CKTuQd6mQOocZL+KEGRSCKHWpR60NqWmkH/N2gP+QQCC0UAmlKv8s4USplJAmojGgbMVgr9GfEDfBCKbgxDEPhkzgixHQGqcyeS6BVwMkmI/XZLJqJCwZJWUE0TFAYKEUIEJKJV6VAHbYwaQIZoODZAQdJaE8StOYzuTIS8IqTKgDOks+WQDB4wgGEwZARUaqDqA9IEEzBk5gjQPWAK78wPMcN+dX9yDWvjm70A934J+0NgjF4NglkguSB9IrmH/DMgN6AfloCqNxAxJXSrTrG6sJO4tOeQszaAGUhn81W8HhE7NVaXhBnmxjy9BlafI3JDH0hibU8U4jkNukMBrYIHgBaaMC03FOI5HvFf8NSvTIMzvGivlx5WLIgvC7hvG1Fes7xrnZq2ZS7ev94ywStXdzSptMLaW7yIog3uVVDq8R+19POe7icd0bCg66fDB/7fjFyGrjmp0u4ZWAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: right 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\000032}}
.ui-helper-hidden {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\000035}}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\0000315}}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\0000325}}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\0000331}}
.ui-helper-clearfix:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\0000334}}
.ui-helper-clearfix {
  min-height: 0;
  /* support: IE7 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\0000337}}
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\0000347}}
.ui-front {
  z-index: 100;
}

/* Interaction Cues
----------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\0000354}}
.ui-state-disabled {
  cursor: default !important;
}

/* Icons
----------------------------------*/
/* states and images */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\0000363}}
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

/* Misc visuals
----------------------------------*/
/* Overlays */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\0000375}}
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\0000382}}
.ui-resizable {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\0000385}}
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\0000390}}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\0000394}}
.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003101}}
.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003108}}
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003115}}
.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003122}}
.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003129}}
.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003136}}
.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003143}}
.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003150}}
.ui-selectable-helper {
  position: absolute;
  z-index: 100;
  border: 1px dotted black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003155}}
.ui-slider {
  position: relative;
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003159}}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003166}}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

/* For IE8 - See #6727 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003176}}
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  -webkit-filter: inherit;
  filter: inherit;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003181}}
.ui-slider-horizontal {
  height: .8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003184}}
.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003188}}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003192}}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003195}}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003199}}
.ui-slider-vertical {
  width: .8em;
  height: 100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003203}}
.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003208}}
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003212}}
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003215}}
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

/* Component containers
----------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003221}}
.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003225}}
.ui-widget .ui-widget {
  font-size: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003228}}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003235}}
.ui-widget-content {
  border: 1px solid #aaaaaa;
  background: #ffffff;
  color: #222222;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003240}}
.ui-widget-content a {
  color: #222222;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003243}}
.ui-widget-header {
  border: 1px solid #aaaaaa;
  background: #cccccc;
  color: #222222;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_ui\.scss}line{font-family:\00003249}}
.ui-widget-header a {
  color: #222222;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_forms\.scss}line{font-family:\000031}}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  background-color: #fff;
  width: 100%;
  height: 42px;
  margin: 0 0 18px 0;
  padding: 8px;
  border: 1px solid #76746c;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 2px 2px rgba(4, 5, 5, 0.07);
  box-shadow: inset 0 2px 2px rgba(4, 5, 5, 0.07);
  color: #000;
  background-color: #fff;
  display: block;
  font-size: 14px;
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_forms\.scss}line{font-family:\0000332}}
button, .btn, input[type="submit"] {
  cursor: pointer;
  min-width: 200px;
  height: 44px;
  margin: 0 0 18px;
  padding: 8px;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border: 1px solid #5d8e10;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0 1px 0 #5c8f2c;
  -webkit-box-shadow: 0 1px 0 rgba(232, 255, 141, 0.36), inset 0 1px 0 #84c217;
  box-shadow: 0 1px 0 rgba(232, 255, 141, 0.36), inset 0 1px 0 #84c217;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #44730c), color-stop(100%, #6c9d10));
  background-image: -webkit-linear-gradient(bottom, #44730c 0%, #6c9d10 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#44730c), to(#6c9d10));
  background-image: linear-gradient(bottom, #44730c 0%, #6c9d10 100%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_forms\.scss}line{font-family:\0000350}}
button:hover, .btn:hover, input[type="submit"]:hover {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #528a0e), color-stop(100%, #7cb412));
  background-image: -webkit-linear-gradient(bottom, #528a0e 0%, #7cb412 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#528a0e), to(#7cb412));
  background-image: linear-gradient(bottom, #528a0e 0%, #7cb412 100%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_forms\.scss}line{font-family:\0000352}}
button:hover:active, .btn:hover:active, input[type="submit"]:hover:active {
  top: 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_lightbox\.scss}line{font-family:\0000339}}
body:after {
  content: url(../i/prev.png) url(../i/next.png);
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_lightbox\.scss}line{font-family:\0000344}}
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_lightbox\.scss}line{font-family:\0000354}}
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_lightbox\.scss}line{font-family:\0000362}}
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -o-border-radius: 3px;
  border-radius: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_lightbox\.scss}line{font-family:\0000368}}
.lightbox a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_lightbox\.scss}line{font-family:\0000373}}
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -o-border-radius: 4px;
  border-radius: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/compass-sourcemaps-0\.12\.4\.sourcemaps\.a4836f1\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_lightbox\.scss}line{font-family:\0000383}}
.lb-container {
  padding: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_lightbox\.scss}line{font-family:\0000387}}
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_lightbox\.scss}line{font-family:\0000397}}
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  font-size: 32px;
  color: #000;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  text-shadow: rgba(255, 255, 255, 0.5) 0 0 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_lightbox\.scss}line{font-family:\00003117}}
.lb-cancel:before {
  content: "\f021";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_lightbox\.scss}line{font-family:\00003122}}
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_lightbox\.scss}line{font-family:\00003131}}
.lb-container > .nav {
  left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_lightbox\.scss}line{font-family:\00003135}}
.lb-nav a {
  outline: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_lightbox\.scss}line{font-family:\00003139}}
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  cursor: pointer;
  /* Trick IE into showing hover */
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_lightbox\.scss}line{font-family:\00003147}}
.lb-prev {
  left: 0;
  float: left;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_lightbox\.scss}line{font-family:\00003152}}
.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  background: url(../i/prev.png) left 48% no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_lightbox\.scss}line{font-family:\00003158}}
.lb-next {
  right: 0;
  float: right;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_lightbox\.scss}line{font-family:\00003163}}
.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  background: url(../i/next.png) right 48% no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_lightbox\.scss}line{font-family:\00003169}}
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/compass-sourcemaps-0\.12\.4\.sourcemaps\.a4836f1\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_lightbox\.scss}line{font-family:\00003177}}
.lb-data {
  padding: 0 4px;
  color: #bbbbbb;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_lightbox\.scss}line{font-family:\00003181}}
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_lightbox\.scss}line{font-family:\00003187}}
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_lightbox\.scss}line{font-family:\00003192}}
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_lightbox\.scss}line{font-family:\00003199}}
.lb-data .lb-close {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 30px;
  position: absolute;
  bottom: -30px;
  right: 0;
  color: #fff;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  visibility: hidden;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_lightbox\.scss}line{font-family:\00003215}}
.lb-data .lb-close:before {
  content: "\f00d";
  visibility: visible;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_lightbox\.scss}line{font-family:\00003221}}
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_header\.scss}line{font-family:\000032}}
.header {
  padding: 50px 0 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_header\.scss}line{font-family:\000035}}
.header .container--header-top {
  min-height: 120px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_header\.scss}line{font-family:\000038}}
.header .callback {
  position: relative;
  display: block;
  top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_header\.scss}line{font-family:\0000312}}
.header .callback.callback--phone {
  top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_header\.scss}line{font-family:\0000314}}
.header .callback.callback--phone .amazingbox {
  background: #fff;
  border: none;
  border-radius: 15px;
  left: 0px;
  color: #000;
  line-height: 1;
  height: auto;
  padding: 15px 20px 15px 36px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_header\.scss}line{font-family:\0000323}}
.header .callback.callback--phone .amazingbox h1 {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_header\.scss}line{font-family:\0000326}}
.header .callback.callback--phone .amazingbox span {
  font-size: 13px;
  font-weight: 200;
  margin-bottom: 5px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_header\.scss}line{font-family:\0000332}}
.header .callback.callback--phone .amazingbox p {
  position: absolute;
  bottom: -46px;
  left: 10px;
  width: 330px;
  text-align: left;
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_header\.scss}line{font-family:\0000341}}
.header .callback.callback--phone .amazingcircle {
  top: 13px;
  left: -25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_header\.scss}line{font-family:\0000347}}
.header .search {
  float: right;
  margin: 30px 10px 0 0;
  border-radius: 9999px;
  border-style: none;
  outline: none;
  padding: 5px 10px;
  width: 200px;
  height: auto;
  border: 3px solid #B2B0AB;
  background-color: #EFEEEC;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_header\.scss}line{font-family:\0000358}}
.header .search:focus {
  background-color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_header\.scss}line{font-family:\0000362}}
.header .search__submit {
  border-radius: 9999px;
  border-style: none;
  outline: none;
  margin: 20px 0 0 0;
  position: absolute;
  right: 17px;
  bottom: 7px;
  width: 19px;
  min-width: 0;
  height: 19px;
  color: #fff;
  font-size: 9px;
  background-color: #F8C54A;
  border: 1px solid #D6A851;
  padding: 0px;
  cursor: pointer;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
  text-shadow: none;
  -webkit-box-shadow: inset 0 1px 0 #fae08b;
  box-shadow: inset 0 1px 0 #fae08b;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f9cb5c), color-stop(100%, #f5b619));
  background-image: -webkit-linear-gradient(bottom, #f9cb5c 0%, #f5b619 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9cb5c), to(#f5b619));
  background-image: linear-gradient(bottom, #f9cb5c 0%, #f5b619 100%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_header\.scss}line{font-family:\0000384}}
.header .search__submit:hover {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #fad375), color-stop(100%, #f6be31));
  background-image: -webkit-linear-gradient(bottom, #fad375 0%, #f6be31 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fad375), to(#f6be31));
  background-image: linear-gradient(bottom, #fad375 0%, #f6be31 100%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_header\.scss}line{font-family:\0000386}}
.header .search__submit:hover:active {
  top: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_header\.scss}line{font-family:\0000392}}
.header .navigation {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_header\.scss}line{font-family:\0000396}}
.header .navigation ul {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_header\.scss}line{font-family:\0000398}}
.header .navigation ul li {
  list-style: none;
  float: left;
  margin: 0;
  margin-right: 45px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_header\.scss}line{font-family:\00003104}}
.header .navigation ul li:after {
  display: block;
  position: absolute;
  content: '\205D\205D\205D';
  right: -28px;
  top: 17px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_header\.scss}line{font-family:\00003111}}
.header .navigation ul li:last-child {
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_header\.scss}line{font-family:\00003113}}
.header .navigation ul li:last-child:after {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_header\.scss}line{font-family:\00003117}}
.header .navigation ul li a {
  display: block;
  padding: 18px;
  margin: 0;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_header\.scss}line{font-family:\00003123}}
.header .navigation ul li.active a, .header .navigation ul li a:hover {
  background-color: #77b143;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #55850d), color-stop(100%, #77b143));
  background-image: -webkit-linear-gradient(bottom, #55850d 0%, #77b143 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#55850d), to(#77b143));
  background-image: linear-gradient(bottom, #55850d 0%, #77b143 100%);
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_sections\.scss}line{font-family:\000032}}
.section header {
  text-align: center;
  height: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_sections\.scss}line{font-family:\000035}}
.section header h1 {
  position: relative;
  display: inline-block;
  height: 40px;
  border: 1px solid #cb7700;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #cb2d1d;
  -webkit-box-shadow: 0 1px 0 rgba(255, 205, 141, 0.36), inset 0 1px 0 #f2b896;
  box-shadow: 0 1px 0 rgba(255, 205, 141, 0.36), inset 0 1px 0 #f2b896;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #cb7700), color-stop(100%, #e19909));
  background-image: -webkit-linear-gradient(bottom, #cb7700 0%, #e19909 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#cb7700), to(#e19909));
  background-image: linear-gradient(bottom, #cb7700 0%, #e19909 100%);
  color: #fff;
  font-size: 23px;
  padding: 7px 25px;
  text-shadow: 0 1px 0 #ac3019;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_sections\.scss}line{font-family:\0000321}}
.section header h1:before, .section header h1:after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-image: -webkit-linear-gradient(-45deg, #cb7700 0%, #e19909 100%);
  background-image: -webkit-linear-gradient(135deg, #cb7700 0%, #e19909 100%);
  background-image: linear-gradient(-45deg, #cb7700 0%, #e19909 100%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_sections\.scss}line{font-family:\0000331}}
.section header h1:before {
  left: -15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_sections\.scss}line{font-family:\0000334}}
.section header h1:after {
  right: -15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_sections\.scss}line{font-family:\0000341}}
.section--hero {
  padding-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_sections\.scss}line{font-family:\0000343}}
.section--hero .container {
  background: url("../i/hero-image.png") 150px bottom no-repeat;
  min-height: 530px;
  overflow: visible;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_sections\.scss}line{font-family:\0000348}}
.section--hero .hero--content {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_sections\.scss}line{font-family:\0000351}}
.section--hero .hero--content h1 {
  font-size: 26px;
  font-weight: bold;
  display: inline;
  background: #639723;
  -webkit-box-shadow: 10px 0 0 #639723, -10px 0 0 #639723;
  box-shadow: 10px 0 0 #639723, -10px 0 0 #639723;
  line-height: 1.3;
  padding: 5px 0;
  color: #FFF;
  text-transform: uppercase;
  position: relative;
  top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_sections\.scss}line{font-family:\0000364}}
.section--hero .hero--content .hero__btn {
  width: 320px;
  height: 146px;
  display: block;
  position: absolute;
  -webkit-transition: all 100ms cubic-bezier(0, 0, 0.58, 1);
  transition: all 100ms cubic-bezier(0, 0, 0.58, 1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_sections\.scss}line{font-family:\0000370}}
.section--hero .hero--content .hero__btn:hover {
  margin-top: -3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_sections\.scss}line{font-family:\0000373}}
.section--hero .hero--content .hero__btn.hero__btn--scaffolding {
  background: url("../i/calc-scaffolding.png") 0 0 no-repeat;
  top: 170px;
  left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_sections\.scss}line{font-family:\0000377}}
.section--hero .hero--content .hero__btn.hero__btn--towers {
  background: url("../i/calc-towers.png") 0 0 no-repeat;
  top: 340px;
  left: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_sections\.scss}line{font-family:\0000383}}
.section--hero .hero--form {
  height: 470px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_sections\.scss}line{font-family:\0000386}}
.section--hero .hero--form:after {
  display: block;
  position: absolute;
  content: '';
  width: 215px;
  height: 260px;
  top: -41px;
  right: -12px;
  background: url("../i/helmet.png") 0 0 no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_sections\.scss}line{font-family:\0000394}}
.section--hero .hero--form .hero--form--inner {
  padding: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_sections\.scss}line{font-family:\0000397}}
.section--hero .hero--form h2 {
  font-size: 23px;
  margin-bottom: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/_sections\.scss}line{font-family:\00003101}}
.section--hero .hero--form p {
  width: 230px;
  color: #a5a5a5;
  font-size: 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/app\.scss}line{font-family:\0000337}}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/app\.scss}line{font-family:\0000343}}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #cac9c4;
  line-height: 150%;
  font-size: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/app\.scss}line{font-family:\0000350}}
a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-device-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/app\.scss}line{font-family:\0000356}}
  body {
    -webkit-text-size-adjust: none;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/app\.scss}line{font-family:\0000361}}
.wrapper {
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 100, color-stop(0%, #f1f1e9), color-stop(100%, rgba(186, 185, 181, 0)));
  background-image: -webkit-radial-gradient(center top, ellipse cover, #f1f1e9 0%, rgba(186, 185, 181, 0) 100%);
  background-image: radial-gradient(center top, ellipse cover, #f1f1e9 0%, rgba(186, 185, 181, 0) 100%);
  min-height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/app\.scss}line{font-family:\0000369}}
h1, h2, h3, h4 {
  color: #000;
  font-weight: 200;
  margin-bottom: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/app\.scss}line{font-family:\0000376}}
h1 {
  font-size: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/app\.scss}line{font-family:\0000380}}
p {
  line-height: 120%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/app\.scss}line{font-family:\0000384}}
strong {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/app\.scss}line{font-family:\0000388}}
.right {
  float: right !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/app\.scss}line{font-family:\0000392}}
.left {
  float: left !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/app\.scss}line{font-family:\0000396}}
a, input, textarea, .btn {
  outline: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/app\.scss}line{font-family:\00003100}}
a, a:link, a:visited {
  color: #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/app\.scss}line{font-family:\00003102}}
a:hover, a:link:hover, a:visited:hover {
  color: #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/app\.scss}line{font-family:\00003107}}
.lbox {
  display: block;
  border: 9px solid #fff;
  -webkit-box-shadow: 1px 1px 0 0 #96c4ea;
  box-shadow: 1px 1px 0 0 #96c4ea;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/app\.scss}line{font-family:\00003112}}
.lbox:hover {
  opacity: 0.9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac-mini-2\/Desktop\/src\/podjom\/src\/scss\/app\.scss}line{font-family:\00003117}}
.container {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
