
.header {
  padding: 50px 0 0 0;
  
  .container--header-top {
    min-height: 120px;
  }
  .callback {
    position: relative;
    display: block;
    top: 10px;
    &.callback--phone {
      top: 0;
      .amazingbox {
        background: #fff;
        border: none;
        border-radius: 15px;
        left: 0px;
        color: #000;
        line-height: 1;
        height: auto;
        padding: 15px 20px 15px 36px;
        h1 {
          margin: 0;
        }
        span {
          font-size: 13px;
          font-weight: 200;
          margin-bottom: 5px;
          display: block;
        }
        p {
          position: absolute;
          bottom: -46px;
          left: 10px;
          width: 330px;
          text-align: left;
          font-size: 14px;
        }
      }
      .amazingcircle {
        top: 13px;
        left: -25px;
      }
    }
  }
  .search {
    float: right;
    margin: 30px 10px 0 0;
    border-radius: 9999px;
    border-style: none;
    outline: none;
    padding: 5px 10px;
    width: 200px;
    height: auto;
    border: 3px solid #B2B0AB;
    background-color: #EFEEEC;
    &:focus {
      background-color: #fff;
    }
  }
  .search__submit {
    border-radius: 9999px;
    border-style: none;
    outline: none;
    margin: 20px 0 0 0;
    position: absolute;
    right: 17px;
    bottom: 7px;
    width: 19px;
    min-width: 0;
    height: 19px;
    color: #fff;
    font-size: 9px;
    background-color: #F8C54A;
    border: 1px solid #D6A851;
    padding: 0px;
    cursor: pointer;
    box-shadow: none;
    background-image: none;
    text-shadow: none;
    @include box-shadow(inset 0 1px 0 #FAE08B);
    @include background-image(linear-gradient(bottom, #F9CB5C 0%, #F5B619 100%));
    &:hover {
      @include background-image(linear-gradient(bottom, lighten(#F9CB5C, 5%) 0%, lighten(#F5B619, 5%) 100%));
      &:active {
        top: inherit;
      }
    }
  }

  .navigation {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top: 60px;
    ul {
      margin: 0;
      li {
        list-style: none;
        float: left;
        margin: 0;
        margin-right: 45px;
        position: relative;
        &:after {
          display: block;
          position: absolute;
          content: '\205D\205D\205D';
          right: -28px;
          top: 17px;
        }
        &:last-child {
          margin-right: 0;
          &:after {
            display: none;
          }
        }
        a {
          display: block;
          padding: 18px;
          margin: 0;
          text-decoration: none;
        }
        &.active a, & a:hover {
          background-color: #77b143;
          @include background-image(linear-gradient(bottom, #55850d 0%, #77b143 100%));
          color: #fff;
        }
      }
    }
  }
}