.section {
	header {
		text-align: center;
		height: 40px;
		margin-bottom: 70px;
		h1 {
			position: relative;
			display: inline-block;
			height: 40px;
			border: 1px solid #cb7700;
			//@include border-radius(19px 17px 17px / 21px);
			@include background-clip(padding-box);
			background-color: #cb2d1d;
			@include box-shadow(0 1px 0 rgba(255,205,141,.36), inset 0 1px 0 #f2b896);
			background-color: #cb7700;
			@include background-image(linear-gradient(to top, #cb7700 0%, #e19909 100%));
			
			color: #fff;
			font-size: 23px;
			padding: 7px 25px;
			@include text-shadow(0 1px 0 #ac3019);

			&:before, &:after {
				content: '';
				display: block;
				position: absolute;
				top: 5px;
				width: 28px;
				height: 28px;
				transform: rotate(45deg);
				background-color: #cb7700;
				@include background-image(linear-gradient(-45deg, #cb7700 0%, #e19909 100%));
			}
			&:before {
				left: -15px;
			}
			&:after {
				right: -15px;
			}
		}
		&.header--pulled {
			margin-top: -110px;
		}
	}
	&.section--bright {
		background-color: #E5E5E2;
	}
}



.section--hero {
	padding-bottom: 0;
	.container {
		background: url('../i/hero-image.png') 150px bottom no-repeat;
		min-height: 530px;
		overflow: visible;
	}
	.hero--content {
		position: relative;

		h1 {
			font-size: 26px;
			font-weight: bold;
			display: inline;
			background: #639723;
			box-shadow: 10px 0 0 #639723, -10px 0 0 #639723;
			line-height: 1.3;
			padding: 5px 0;
			color: #FFF;
			text-transform: uppercase;
			position: relative;
			top: 5px;
		}
		.hero__btn {
			width: 320px;
			height: 146px;
			display: block;
			position: absolute;
			transition: all 100ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
			&:hover {
				margin-top: -3px;
			}
			&.hero__btn--scaffolding {
				background: url('../i/calc-scaffolding.png') 0 0 no-repeat;
				top: 170px; left: 10px;
			}
			&.hero__btn--towers {
				background: url('../i/calc-towers.png') 0 0 no-repeat;
				top: 340px; left: 100px;
			}
		}
	}
}

.hero--form {
	@extend .wellform;
	height: 470px;
	&:after {
		display: block;
		position: absolute;
		content: '';
		width: 215px; height: 260px;
		top: -41px; right: -12px;
		background: url('../i/helmet.png') 0 0 no-repeat;
		z-index: 2;
	}
	.hero--form--inner {
		padding: 24px;
	}
	h2 {
		font-size: 23px;
		margin-bottom: 14px;
	}
	p {
		width: 230px;
		color: #a5a5a5;
		font-size: 14px;
	}
}

.section--news {
	.container {
		overflow: visible;
	}
	.slider {
		.slide__bg {
			position: absolute;
			top: 0; left: 0;
		}
		.slide__counter {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 250px;
			height: 114px;
			padding: 10px 24px;
			border: 1px solid #bf3b18;
			background-color: #4d811b;
			@include box-shadow(0 1px 0 rgba(255,205,141,.36), inset 0 1px 0 #f2b896);
			@include background-image(linear-gradient(to bottom, #d3351d 0%, #f56f19 100%));

			h5 {
				color: #fff;
				font-size: 14px;
				font-weight: bold;
				margin-bottom: 5px;
				line-height: 1;
				@include text-shadow(0 1px 0 #48761c);
			}

			.countdown {
				width: 220px;
				ul {
					display: block;
					float: left;
					margin: 0; padding: 0;
					position: relative;
					margin-right: 12px;
					width: auto; height: auto;
					label {
						position: absolute;
						left: 0;
						bottom: -23px;
						width: 100%;
						text-align: center;
						color: #fff;
						font-size: 11px;
						@include text-shadow(0 1px 0 #a9321c);

					}
					li {
						display: block;
						position: relative;
						list-style: none;
						float: left;
						width: 44px;
						height: 60px;
						@include border-radius(5px);
						@include background-clip(padding-box);
						background-color: #313131;
						@include box-shadow(0 1px 0 #292929, inset 0 -1px 0 #6d6565);
						padding: 0; margin: 0;
						margin-right: 2px;
						text-align: center;
						color: #fff;
						font-size: 45px;
						line-height: 60px;
						font-weight: bold;
						&:after {
							display: block;
							position: absolute;
							content: '';
							top: 0; left: 0;
							width: 100%; height: 100%;
							background: url('../i/cd_bg.png') 0 0 no-repeat;
						}
					}
				}
			}
		}
		.slide__info {
			width: 710px;
			height: 113px;
			padding: 25px 30px;
			position: absolute;
			right: 0;
			bottom: 0;
			background-color: #77b13f;

			h1, h2 {
				color: #fff;
				font-size: 26px;
				margin-bottom: 15px;
				text-transform: uppercase;
				font-weight: bold;
				@include text-shadow(0 1px 0 #48761c);
			}
			h1 {
				font-size: 42px;
			}
		}
	}
}

.section--cat {
	
	.cat__item {
		&.push-2 {
			left: 115px;
		}
		a, a:link, a:visited {
			display: block;
			width: 225px;
			height: 225px;
			border-radius: 500px;
			text-align: center;
			position: relative;
			text-decoration: none !important;
			img {
				position: absolute;
				top: -20px; left: 0;
			}
			h5 {
				position: absolute;
				top: 165px;
				width: 150px;
				left: 50%;
				margin-left: -75px;
				text-align: center;
				font-size: 14px;
				font-weight: bold;
				line-height: 1;
			}
			.cat__badge {
				padding: 6px 10px;
				line-height: 1;
				border-radius: 5px;
				@include box-shadow(0 1px 0 rgba(255,205,141,.36));
				background-color: #d3351d;
				@include background-image(linear-gradient(to bottom, #d3351d 0%, #f56f19 100%));

				color: #fff;
				font-size: 12px;
				font-weight: bold;
				position: relative;
				top: 188px;
				display: inline-block;
			}
			&:hover {
				background-color: #F2F2F1;
			}
		}
	}
}

.section--scheme {
	min-height: 570px;
	.scheme__info {
		background-color: #fff;
		padding: 40px 25px 30px;
		border-radius: 10px;
		margin-top: 90px;
		position: relative;
		&:before {
			display: block;
			position: absolute;
			content: '';
			width: 0;
			height: 0;
			top: -16px; left: 50px;
			border-style: solid;
			border-width: 0 16px 16px 16px;
			border-color: transparent transparent #ffffff transparent;
		}
		&:after {
			display: block;
			position: absolute;
			content: '';
			width: 175px; height: 240px;
			top: -110px; right: -100px;
			background: url('../i/man.png') 0 0 no-repeat;
		}
	}
	.btn {
		color: #FFF;
		margin-bottom: 0;
	}
	.circle {
		border-radius: 500px;
		width: 100px;
		height: 100px;
		background-color: #e1e1e1;
		@include box-shadow(0 2px 5px rgba(6,6,6,.16));
		position: relative;
		margin: 0 30px;
		text-align: center;
		line-height: 105px;
		font-size: 60px;
		color: #fda204;
		z-index: -2;
		h5 {
			line-height: 1.2;
			color: #000;
			font-size: 16px;
			font-weight: bold;
			text-align: center;
			margin-top: 15px;
			width: 130px;
			margin-left: -15px;
			&.highlighted {
				color: #FFF;
				background-color: #77b13f;
				padding: 5px 0;
				border-radius: 3px;
			}
		}
		span {
			//@include background-image(linear-gradient(bottom, #fda204 0%, #fdcb04 100%));
			background-image: -webkit-gradient(linear, left bottom, left top, from(#fda204), to(#fdcb04));
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			&:after {
		    	display: block;
		    	position: absolute;
		    	right: -75px;
		    	width: 93px; height: 27px;
		    	content: '';
		    	text-indent: -9999px;
				background-size: 93px 27px;
				z-index: 1;
		   	}
		}
	   	&:nth-child(2n+1) span:after {
	    	background: url(../i/arr-top.svg);
	    	top: -17px;
	   	}
		&:nth-child(2n) span:after {
			background: url(../i/arr-bot.svg);
	    	bottom: -17px;
	   	}
	   	&:last-child span:after {
	    	display: none;
	   	}
		&:before {
			display: block;
			content: '';
			width: 100px;
			height: 100px;
			border-radius: 500px;
			background-color: #fff;
			position: absolute;
			top: -5px;
			z-index: -1;
		}
		&:first-child {
			background-color: #fff;
			@include box-shadow(0 1px 0 #fff, inset 0 2px 10px rgba(170,161,161,.48));
			&:before {
				display: none;
			}
		}
	}
}

// SVG Fallback
.no-svg .section--scheme .circle {
	&:nth-child(2n+1) span:after {
    	background: url(../i/arr-top.png);
   	}
	&:nth-child(2n) span:after {
		background: url(../i/arr-bot.png);
   	}
}

.section--principles {
	min-height: 1300px;

	#map {
		margin-bottom: 50px;
	}

	.contacts {
		strong {
			font-size: 16px;
		}
		min-height: 500px;
		font-size: 14px;
		background: url('../i/footer.png') left bottom no-repeat;
		a, a:link, a:visited {
			color: #639235;
			&:hover {
				color: lighten(#639235, 10%);
			}
		}
	}
	.amazingbox {
		background: #fff;
		border: none;
		border-radius: 15px;
		left: 0px;
		color: #000;
		line-height: 1;
		height: auto;
		padding: 15px 20px 15px 36px;
		margin-bottom: 50px;
		width: 340px;
		text-align: left;
		h1 {
		  margin: 0;
		}
		span {
		  font-size: 13px;
		  font-weight: 200;
		  margin-bottom: 5px;
		  display: block;
		}
		.amazingcircle {
			left: -25px;
			top: 13px;
		}
	}
	.contacts__form {
		@extend .hero--form;
		position: relative;
		&:after {
			right: -52px;
		}
		.copy {
			font-size: 12px;
			line-height: 1.2;
			position: absolute;
			width: 200px;
			bottom: -570px;
			left: 100px;
			border: none;
			background-color: transparent;
			.icon-iastudio {
				float: left;
				margin-right: 5px;
			}
			a:hover {
				text-decoration: underline;
			}
		}
	}
	.princ__item {
		text-align: center;
		width: 170px;
		line-height: 1.2;
	}
	.zigzag {
		margin-top: 30px;
	}
}