
// Placeholder styling mixin
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
};

// libs
@import "photoshop-drop-shadow";
@import "compass/css3";
@import "compass/utilities";
@import "../bourbon/bourbon";

// main
@import "settings";
@import "reset";
@import "text";
@import "960";
@import "grid";
@import "else";

// JQ UI
@import "ui";

// Misc
@import "icons";
@import "forms";
@import "lightbox";
@import "sprites";

// Elements
@import "header";
@import "slider";
@import "specslider";
@import "sidebar";
@import "content";
@import "cat";
@import "range-slider";
@import "footer";

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	background: $bg-color;
	line-height: 150%;
	font-size: $text-size;
}

a[href^=tel]{
    color: inherit;
    text-decoration: none;
}

@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: none;
  }
}

#wrapper {
	overflow: hidden;
}

h1, h2, h3, h4 {
	//color: $blue-color;
	color: #000;
	font-weight: 200;
	margin-bottom: 30px;
}

h1 {
	font-size: 30px;
}

p {
	line-height: 120%;
}

strong {
	font-weight: bold;
}

.right {
	float: right !important;
}

.left {
	float: left !important;
}

a, input, textarea, .btn {
	outline: none;
}

a, a:link, a:visited {
	color: #000;
	&:hover {
		color: lighten(#000, 20%);
	}
}

.lbox {
	display: block;
	border: 9px solid #fff;
	@include box-shadow(1px 1px 0 0 #96c4ea);

	&:hover {
		opacity: 0.9;
	}
}

.container {
	position: relative;
	z-index: 1;
}
