- var active = 1
include includes/settings
doctype html
html(lang='ru').no-js
  head
    include includes/head
  body
    .wrapper
      include includes/header
      include includes/slider
      //- begin main  
      .main
        //- begin container
        .container
        //- end container
      include includes/footer
    include includes/tail