- var active = 1
include includes/settings
doctype html
html(lang='ru').no-js
  head
    include includes/head
    | <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  body
    .wrapper
      include includes/header
      section.section.section--hero
        .container
          .col-7.hero--content
            h1 Продажа и аренда оборудования для строительства
            a.hero__btn.hero__btn--scaffolding(href="#")
            a.hero__btn.hero__btn--towers(href="#")
          .col-5.hero--form
            .hero--form--inner
              h2 Отправить заявку
              p Наши специалисты бесплатно проконсультируют Вас в вопросах оборудования для строительства
              form
                fieldset
                  input(type="text", name="name", placeholder="Имя")
                  input(type="tel", name="phone", placeholder="Телефон")
                  input(type="email", name="email", placeholder="Почта")
                  input(type="text", name="text", placeholder="Текст заявки")
                  input(type="submit", value="Отправить")
      section.section.section--news
        .container
          header.zigzag: h1 Новости и спецпредложения
        .container
          #slider-news.slider
            a.slider__next(href='#')
              i.fa.fa-angle-right
            a.slider__prev(href='#')
              i.fa.fa-angle-left
            .slider__slides
              ul.slider__container
                li.slider__item
                  img(src="i/specials/1.jpg").slide__bg
                  .slide__counter
                    h5 До конца акции осталось
                    .countdown
                      ul
                        li 1
                        li 4
                        label Дней
                      ul
                        li 1
                        li 8
                        label Часов
                  .slide__info
                    h2 Мы снижаем цены на леса и вышки 
                    h1 от 10% до 20% 
                li.slider__item
                  img(src="i/specials/1.jpg").slide__bg
                  .slide__counter
                    h5 До конца акции осталось
                    .countdown
                      ul
                        li 1
                        li 4
                        label Дней
                      ul
                        li 1
                        li 8
                        label Часов
                  .slide__info
                    h2 Мы снижаем цены на леса и вышки 
                    h1 от 10% до 20%
                li.slider__item
                  img(src="i/specials/1.jpg").slide__bg
                  .slide__counter
                    h5 До конца акции осталось
                    .countdown
                      ul
                        li 1
                        li 4
                        label Дней
                      ul
                        li 1
                        li 8
                        label Часов
                  .slide__info
                    h2 Мы снижаем цены на леса и вышки 
                    h1 от 10% до 20% 
                li.slider__item
                  img(src="i/specials/1.jpg").slide__bg
                  .slide__counter
                    h5 До конца акции осталось
                    .countdown
                      ul
                        li 1
                        li 4
                        label Дней
                      ul
                        li 1
                        li 8
                        label Часов
                  .slide__info
                    h2 Мы снижаем цены на леса и вышки 
                    h1 от 10% до 20% 
            .slider__dots

      include includes/footer
    include includes/tail