header.header
  .container
    .col-2
      img(src="i/logo.png")
    .col-4.push-1
      div.callback.callback--phone
        .amazingbox
          span Звоните нам по бесплатному номеру:
          h1 8-800-555-30-99
          p 8 (423) 236-15-86, 261-78-74, 266-79-67
        .amazingcircle
    .col-4.push-1
      a.callback(href="#")
        .amazingbox Заказать обратный звонок
        .amazingcircle
      input(class="search", type="text", placeholder="Поиск по сайту")
      button(type="submit", class="search__submit"): i.fa.fa-search