//- SETTINGS
- var title = 'Подъем ДВ - строительные леса и вышки-туры во Владивостоке'
- var navItems = ['Вопросы и ответы', 'Новости', 'Фотоотчёты', 'О компании', 'Контакты', 'Дилерам']
//- SETTINGS